<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="civilization" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="expansion">
        <th mat-header-cell *matHeaderCellDef> Expansion </th>
        <td mat-cell *matCellDef="let element"> {{element.expansion}} </td>
      </ng-container>

      <ng-container matColumnDef="army_type">
        <th mat-header-cell *matHeaderCellDef> Army Type </th>
        <td mat-cell *matCellDef="let element"> {{element.army_type}} </td>
      </ng-container>

      <ng-container matColumnDef="unique_unit">
        <th mat-header-cell *matHeaderCellDef> Unique Unit </th>
        <td mat-cell *matCellDef="let element"> {{element.unique_unit}} </td>
      </ng-container>

      <ng-container matColumnDef="unique_tech">
        <th mat-header-cell *matHeaderCellDef> Unique Tech </th>
        <td mat-cell *matCellDef="let element"> {{element.unique_tech}} </td>
      </ng-container>

      <ng-container matColumnDef="team_bonus">
        <th mat-header-cell *matHeaderCellDef> Team Bonus </th>
        <td mat-cell *matCellDef="let element"> {{element.team_bonus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
